/* CSS Document */

/* YUI/PUI Widgets */



/* Tooltips and Balloon Callouts */
.autoTooltip {cursor:pointer;}
.balloonControl {text-decoration:none; font:11px Arial, Helvetica, sans-serif; color:#666666; display:block;}
.balloon {z-index:16; width:250px; margin:0; padding:0; line-height:15px; display:block;}
.balloon .panel {border:none;}
.balloon .body {padding:5px;}
.balloon .body {padding:10px 15px;}
.balloon .posUnder {padding:13px 0 0 0; background:url(tooltip_sprite.gif) -500px top no-repeat;}
.balloon .posUnder .body {border:1px solid #666; border-top-width:0; padding:12px 17px 10px 8px; background:#ffffe5;}
.balloon .posOver {padding:0 0 13px 0; background:url(tooltip_sprite.gif) 0 bottom no-repeat;}
.balloon .posOver .body {border:1px solid #666; border-bottom-width:0; padding:8px 17px 12px 8px; background:#ffffe5;}



.CSCPara {float:left; margin:0; padding-bottom:12px; line-height:18px;}
.CSCPara a:link {font:10px Arial, Helvetica, sans-serif; color:#333333; line-height:18px;}
#paraCSC a {margin-left:5px;}
p#paraCSC a {margin-left:5px;}


/* Visa Master Card Logo */
input.large {width:14em;}
p.group span.label {display:block; margin:.1em 0;}
p.group label {padding-left:0;}
p.group span.label {display:block; margin:.1em 0;}
.group{margin-left:2em;}

span.field {display:block; margin-left:200px;}
span.blockDisp {display:block;}
span#ccicons img {vertical-align:middle; margin-right:2px;}
.group #cctype.radio label {background-position:2em; border:none; margin:0.3em 0.2em 0.3em 0; padding-top:0.5em; width:49%;}
.hide {display:none !important;}
.show {display:block !important;}
.clear {clear:both !important;}
