body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #464631;
	background-color: #FCFCF8;
	margin: 0px;
}
.Button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	border-top: 1px solid #333333;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #333333;
	background-color: #DCDCC0;
}

a:link {font-family:Arial, Helvetica, sans-serif; font-size:12px;color: #000000; text-decoration:underline;}
a:hover {font-family:Arial, Helvetica, sans-serif; font-size:12px;color: #000000; text-decoration:none;}
a:visited {font-family:Arial, Helvetica, sans-serif; font-size:12px;color: #000000; text-decoration:underline;}
	
.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #464631;
	text-decoration: none;
	padding: 5px;
}
.text11 {font:11px Arial, Helvetica, sans-serif; color:#000000;}

.pageBorderLeft {
	background-image: url(pageBorder_left.gif);
	background-repeat: repeat-y;
}
.pageBorderRight {
	background-image: url(pageBorder_right.gif);
	background-repeat: repeat-y;
}
.tableHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
	text-decoration: none;
	background:url(tableHeader_bg.gif) repeat-x;
}
.submitButton {
	background-image: url(submit_button.gif);
	background-repeat: no-repeat;
	height: 23px;
	width: 86px;
}
.selectbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #464631;
	border:1px solid #cccccc;
}

.tableBorderLeft {
	background-image: url(tableborder_left_new.gif);
	background-repeat: repeat-y;
}
.tableBorderRight {
	background-image: url(tableborder_right_new.gif);
	background-repeat: repeat-y;
}

A.footer:link {font-family:Arial, Helvetica, sans-serif; font-size:10px;font-weight: normal;color: #000000; text-decoration: underline;}
A.footer:visited {font-family:Arial, Helvetica, sans-serif; font-size:10px;font-weight: normal;color: #000000; text-decoration: underline;}
A.footer:hover {font-family:Arial, Helvetica, sans-serif; font-size:10px;font-weight: normal;color: #000000;text-decoration:none;}

.footerTD {
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	color: #464631;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #8C8C8C;
	}
.bpgHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #464631;
	text-decoration: none;
	padding: 5px;
	font-style: normal;
	font-weight: bold;
}
.label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	font-weight:normal;
}
.description {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #464631;
	text-decoration: none;
	padding: 5px;
}
.red {
	color: #FF0000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.textbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #464631;
	width: 100%;
	border:1px solid #cccccc;
}

.populatedData {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #464631;
	text-decoration: none;
	padding: 5px;
}

#greybox {background:#EBEBEB;}
#greybox .label{font:13px Arial, Helvetica, sans-serif; color:#000000;}
#greybox .greytop {background:url(grre_curve_t.gif) repeat-x;}
#greybox .greybottom {background:url(grre_curve_b.gif) repeat-x;}
#greybox .greyleft {background:url(grey_left.gif) repeat-y;}
#greybox .greyright {background:url(grre_curve_r.gif) repeat-y;}

.textb {font-weight:bold;}
.text11{font:11px Arial, Helvetica, sans-serif; letter-spacing:0.10px;}
.text12{font:11px Arial, Helvetica, sans-serif; color:#000000;}
.text14{font:14px Arial, Helvetica, sans-serif; font-weight:bold;}
.text16{font:16px Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;}
.text22{font:22px Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;}
.fcblue {color:#003399;}
.cardno_textbox {height:23px; padding:3px; font:12px Arial, Helvetica, sans-serif; color:#464631;}
.brdbottom {border-bottom:1px solid #DBDBDB;}


.floatl {float:left;}

/*Rounded Corner */
.spiffy{display:block}
.spiffy *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#CCCC99}
.spiffy1{
  margin-left:3px;
  margin-right:3px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #e9e9d3;
  border-right:1px solid #e9e9d3;
  background:#d8d8b2}
.spiffy2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #f9f9f4;
  border-right:1px solid #f9f9f4;
  background:#d5d5ac}
.spiffy3{
  margin-left:1px;
  margin-right:1px;
  border-left:1px solid #d5d5ac;
  border-right:1px solid #d5d5ac;}
.spiffy4{
  border-left:1px solid #e9e9d3;
  border-right:1px solid #e9e9d3}
.spiffy5{
  border-left:1px solid #d8d8b2;
  border-right:1px solid #d8d8b2}
.spiffyfg{background:#CCCC99; padding:5px;}
/* Rounded Corned Ends here */



