div.sai-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483647; }
  div.sai-wrapper div.sai-contents {
    position: relative;
    width: 876px;
    margin: 0 auto;
    top: -552px;
    -webkit-transition: top 500ms;
    -moz-transition: top 500ms;
    transition: top 500ms; }
    div.sai-wrapper div.sai-contents a.sai-closeButton {
      position: absolute;
      top: 6px;
      right: 0;
      width: 37px;
      height: 37px;
      background: url("/static/app/images/icons/closeButton.png") no-repeat center center;
      z-index: 4;
      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -moz-transform;
      transition-property: transform;
      -webkit-transition-duration: 500ms;
      -moz-transition-duration: 500ms;
      transition-duration: 500ms; }
      div.sai-wrapper div.sai-contents a.sai-closeButton:hover {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg); }
  div.sai-wrapper div.sai-placeholder {
    position: absolute;
    font-family: Helvetica;
    width: 200px;
    z-index: 2;
    height: 150px;
    font-size: 24px;
    line-height: 150px;
    color: #ffffff;
    text-align: center;
    top: 200px;
    left: -webkit-calc(50% - 75px);
    left: calc(50% - 75px);
    background-color: #2D2D2D;
    border-radius: 6px;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    transition: opacity 500ms;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15); }
    div.sai-wrapper div.sai-placeholder div.sai-placeholderBox {
      height: 28px;
      width: 84px;
      margin: 58px auto 0;
      padding: 10px;
      background: rgba(20, 20, 20, 0.9);
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: inset 0 0 5px black, 0 1px 1px rgba(255, 255, 255, 0.1);
      -moz-box-shadow: inset 0 0 5px black, 0 1px 1px rgba(255, 255, 255, 0.1);
      -ms-box-shadow: inset 0 0 5px black, 0 1px 1px rgba(255, 255, 255, 0.1);
      -o-box-shadow: inset 0 0 5px black, 0 1px 1px rgba(255, 255, 255, 0.1);
      box-shadow: inset 0 0 5px black, 0 1px 1px rgba(255, 255, 255, 0.1); }
    div.sai-wrapper div.sai-placeholder div.sai-placeholderBoxDot {
      float: left;
      width: 8px;
      height: 8px;
      margin: 0 4px;
      background: white;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      opacity: 0;
      -webkit-box-shadow: 0 0 2px black;
      -moz-box-shadow: 0 0 2px black;
      -ms-box-shadow: 0 0 2px black;
      -o-box-shadow: 0 0 2px black;
      box-shadow: 0 0 2px black;
      -webkit-animation: sai-placeholderBoxDotFade 1.8s infinite;
      -moz-animation: sai-placeholderBoxDotFade 1.8s infinite;
      animation: sai-placeholderBoxDotFade 1.8s infinite; }
    div.sai-wrapper div.sai-placeholder div.sai-placeholderBoxDot:nth-child(1) {
      -webkit-animation-delay: 0.15s;
      -moz-animation-delay: 0.15s;
      animation-delay: 0.15s; }
    div.sai-wrapper div.sai-placeholder div.sai-placeholderBoxDot:nth-child(2) {
      -webkit-animation-delay: 0.3s;
      -moz-animation-delay: 0.3s;
      animation-delay: 0.3s; }
    div.sai-wrapper div.sai-placeholder div.sai-placeholderBoxDot:nth-child(3) {
      -webkit-animation-delay: 0.45s;
      -moz-animation-delay: 0.45s;
      animation-delay: 0.45s; }
    div.sai-wrapper div.sai-placeholder div.sai-placeholderBoxDot:nth-child(4) {
      -webkit-animation-delay: 0.6s;
      -moz-animation-delay: 0.6s;
      animation-delay: 0.6s; }
  div.sai-wrapper div.sai-overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    transition: opacity 500ms; }

@-webkit-keyframes sai-placeholderBoxDotFade {
  0% {
    opacity: 0; }

  50% {
    opacity: 0.8; }

  100% {
    opacity: 0; } }

@-moz-keyframes sai-placeholderBoxDotFade {
  0% {
    opacity: 0; }

  50% {
    opacity: 0.8; }

  100% {
    opacity: 0; } }

@keyframes sai-placeholderBoxDotFade {
  0% {
    opacity: 0; }

  50% {
    opacity: 0.8; }

  100% {
    opacity: 0; } }

iframe.sai-iFrame {
  max-width: 100%;
  min-height: 552px;
  min-width: 876px;
  position: relative;
  margin: 0 auto;
  display: block;
  z-index: 3; }

a.sai-highlightButton {
  position: absolute;
  display: none;
  width: 204px;
  height: 28px;
  background: url("/static/app/images/backgrounds/sprite.png") no-repeat 0 0;
  z-index: 2147483646; }
  a.sai-highlightButton:hover {
    background-position: 0 -56px; }
  a.sai-highlightButton:active {
    background-position: 0 -28px; }

/**
 * UI Buttons
 * 
 */
.sai-btn {
  display: inline-block;
  background-image: url("/static/app/images/backgrounds/sprite.png");
  background-repeat: no-repeat; }

.sai-btnSq {
  background-position: -240px 0;
  width: 28px;
  height: 16px;
  position: relative; }

.sai-btnSm {
  background-position: -214px -26px;
  width: 111px;
  height: 20px; }

/**
 * Tool tips
 * 
 */
span.sai-btnToolTip {
  display: none;
  width: 100px;
  position: absolute;
  color: #fefefe;
  text-align: center;
  font-size: 11px;
  border-radius: 3px;
  font-family: Arial;
  height: 20px;
  line-height: 20px;
  background-color: #111; }

span.sai-btnToolTip:after,
span.sai-btnToolTip:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0); }

span.sai-btnToolTipTop {
  bottom: 100%;
  left: calc(100%/2 - 50px);
  margin-bottom: 8px; }

span.sai-btnToolTipTop:after,
span.sai-btnToolTipTop:before {
  top: 100%;
  left: 50%;
  border-top-color: #111; }

span.sai-btnToolTipTop:after {
  border-width: 4px;
  margin-left: -4px; }

span.sai-btnToolTipTop:before {
  border-width: 5px;
  margin-left: -5px; }

span.sai-btnToolTipRight {
  left: 100%;
  top: -2px;
  margin-left: 8px; }

span.sai-btnToolTipRight:after,
span.sai-btnToolTipRight:before {
  right: 100%;
  top: 50%;
  border-right-color: #111; }

span.sai-btnToolTipRight:after {
  border-width: 4px;
  margin-top: -4px; }

span.sai-btnToolTipRight:before {
  border-width: 5px;
  margin-top: -5px; }

span.sai-btnToolTipBottom {
  top: 100%;
  left: calc(100%/2 - 50px);
  margin-top: 8px; }

span.sai-btnToolTipBottom:after,
span.sai-btnToolTipBottom:before {
  bottom: 100%;
  left: 50%;
  border-bottom-color: #111; }

span.sai-btnToolTipBottom:after {
  border-width: 4px;
  margin-left: -4px; }

span.sai-btnToolTipBottom:before {
  border-width: 5px;
  margin-left: -5px; }

span.sai-btnToolTipLeft {
  right: 100%;
  top: -2px;
  margin-right: 8px; }

span.sai-btnToolTipLeft:after,
span.sai-btnToolTipLeft:before {
  left: 100%;
  top: 50%;
  border-left-color: #111; }

span.sai-btnToolTipLeft:after {
  border-width: 4px;
  margin-top: -4px; }

span.sai-btnToolTipLeft:before {
  border-width: 5px;
  margin-top: -5px; }

.sai-btnSq:hover span.sai-btnToolTip {
  display: block; }
