@charset "utf-8";
/* CSS Document */

.glossymenu{
	float:left;
	position:relative;
	margin:0;
	padding: 0;
	width:940px; /*width of menu*/
}
.glossymenu a.menuitem{ background:#3a4850;
font:normal 14px/30px Arial, Helvetica, sans-serif;color: #8c9498;display: block;position: relative; /*To help in the anchoring of the ".statusicon" icon image*/width: auto;padding:0;text-decoration: none;border-bottom:1px  dashed #6e7a81;
margin-top:10px; padding-left:10px; height:30px;
}
.glossymenu a.menuitem .statusicon{ /*CSS for icon image that gets dynamically added to headers*/
position: relative;float:right;
margin-top:12px;*margin-top:-18px;
margin-right:10px;


/*top:3px;

right: 5px;*/
border: none;
}

.glossymenu a.menuitem:hover{

}

.glossymenu a.menuitemactive{

font:normal 14px/30px  Arial, Helvetica, sans-serif;
color:#bed730;
border-bottom:1px  dashed #6e7a81;

}

.glossymenu div.submenu{ /*DIV that contains each sub menu*/

width:920px;
height:auto;
 margin-bottom:4px;
 margin-top:2px;
 padding:10px;

}
.glossymenu div.submenu ul{ /*UL of each sub menu*/
list-style-type: none;
margin: 0;
padding: 0;
}
.glossymenu div.submenu ul li{
border-bottom: 1px solid #c9c9c9;
}
