
/*

bright: rgb(234,242,255);
normal: rgb(120,172,255);
dark:	rgb(0,66,174);

*/

/* import menu css */
/*
@import "dhtml/xmenu/xmenu.css";
*/

#webfx-about {
	position:		absolute;
	background:		white;
	top:			102px;
	right:			10px;
	width:			20px;
	writing-mode:	tb-rl;
	filter:			flipH() flipV() alpha(opacity=50);
}

/* headers css */

#webfx-title {
	position:		absolute;
	left:			90px;
	top:			-5px;
	color:			black;
	background:		transparent;
	border:			0;
	padding:		0;
	margin:			0;
	font-family:	Arial Black, Verdana, Helvetica, Sans-Serif;
	font-weight:	bold;
	font-style:		italic;
	font-size:		45px;
	letter-spacing:	-5px;
}

#webfx-title-background {
	width:					100%;
	height:					67px;
	background:				white no-repeat;/*rgb(100,100,100) no-repeat;*/
	background-image:		url("images/title-background.png");
	background-position:	0 0;
}

#webfx-sub-title {
	position:		absolute;
	left:			96px;
	top:			45px;
	color:			black;
	background:		transparent;
	padding:		0;
	margin:			0;
	border:			0;
	font-family:	Verdana, Helvetica, Sans-Serif;
	font-size:		11px;
}

#webfx-menu-bar-1,
#webfx-menu-bar-2,
#webfx-menu-bar-3,
#webfx-menu-bar-4,
#webfx-menu-bar-5 {
	height:			2px;
	font-size:		0;
	overflow:		hidden;
	background:		rgb(120,172,255);/*#ff8800;*/
	padding:		0;
}

#webfx-menu-bar-1 {
	background:		rgb(0,66,174);/*rgb(120,172,255);/*black;/*rgb(234,242,255);*/
	height:			1px;
}

#webfx-menu-bar-2 {
	background:		rgb(120,172,255);/*#ff8800;*/
	height:			1px;
}

#webfx-menu-bar-3 {
	background:		rgb(120,172,255);/*#ff8800;*/
	height:			1px;
}

#webfx-menu-bar-4 {
	background:		rgb(0,66,174);
	height:			1px;
}

#webfx-menu-bar-5 {
	background:		#dddddd;
	height:			3px;
}

/* headers css end */


html, body {
	height:		100%;
	margin:		10px;
	padding:	0;	
	color:		black;
	
	font-size:	13px;
	font-family:	"Verdana", "Tahoma", "Helvetica", "Sans-Serif";
}

.webfx-main-body {	
	width:			900px;
	
}

/* h1 only used in header */			
h2,h3,h4,h5,h6 {
	margin-top:		10px;
	margin-left:	10px;
	margin-right:	10px;
	padding:		2px 10px 2px 10px;
	background:		rgb(234,242,255);
	border-bottom:	1px solid rgb(120,172,255);
}

h1,h2 {
	font-weight:	normal;
}

h3,h4,h5,h6 {
	font-weight:	bold;
}

h1 {
	font-size:		50px;
}

h2 {
	font-size:		20px;
}

h3 {
	font-size:		15px;
}

h4 {
	font-size:		12px;
}


p {
	margin:			10px;
	font-size:		13px;
	color:			black;
	text-align:		justify;
}

td {
	font-size:		13px;
	font-family:	"Verdana", "Tahoma", "Helvetica", "Sans-Serif";
}

pre {
	margin:			20px;
	margin-right:	10px;
	background:		#eeeeee;
	padding:		10px;
	border:			1px solid #dddddd;
	color:			black;
}

code {
	background:		#eeeeee;
	border:			1px solid #dddddd;
	color:			black;
}

a {
	text-decoration:underline;
	color:			rgb(0,66,174);
}

a:hover {/*rgb(0,66,174)*/
	color:			rgb(0,66,174);
	background:		rgb(234,242,255);
}

a:visited {
	color:			rgb(120,172,255);
}

a:visited:hover {
	color:			rgb(0,66,174);
}

hr {
	margin-left:		10px;
	margin-right:		10px;
	padding:			0;
	text-align:			left;
	height:				1px;
	color:				rgb(120,172,255);
	background-color:	rgb(120,172,255);
	border-bottom:		1px solid rgb(120,172,255);
	border:				0;
}

h2 a, h3 a {
	display:			block;
	text-decoration:	none;
	width:				expression("100%");
}



.author {
	margin-top:		50px;
	font-style:		italic;
}

.date {
	color:			rgb(0,66,174);
}

.warning,
.warning a {
	color:			red;
}


.warning a:visited,
.warning a:hover {
	color:	red;
}

.warning a:hover {
	background:	rgb(255,230,230);
}




/* copied from xmenu.css */

.webfx-menu-bar {
	background:		rgb(120,172,255);/*rgb(255,128,0);*/

	padding:		2px;
	
	font-family:	Verdana, Helvetica, Sans-Serif;
	font-size:		11px;
	
}

.webfx-menu-bar a,
.webfx-menu-bar a:visited {
	color:				black;
	border:				1px solid rgb(120,172,255);/*rgb(255,128,0);*/
	
	text-decoration:	none;
	padding:			1px;
	padding-left:		5px;
	padding-right:		5px;
}

.webfx-menu-bar a:hover {
	color:			black;
	background:		rgb(120,172,255);
	border-left:	1px solid rgb(234,242,255);/*#ffcc88;*/
	border-right:	1px solid rgb(0,66,174);/*#884400;*/
	border-top:		1px solid rgb(234,242,255);/*#ffcc88;*/
	border-bottom:	1px solid rgb(0,66,174);/*#884400;*/
}

.webfx-menu-bar a .arrow {
	border:			0;
	float:			none;
/*
	float:			right;
	width:			6px;
	height:			16px;

	margin-right:	2px;
	background: red;
*/
}

.webfx-menu-bar a:active, .webfx-menu-bar a:focus {
	-moz-outline:	none;
	outline:		none;
}

/* end xmenu.css copy */