body {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 11px;

	color: #464631;

	background-color: #FFFFFF;

	margin: 0px;

}

.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #464631;
	text-decoration: none;
	padding: 5px;
}

.Optionstext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #660000;
	text-decoration: none;
	padding: 0px;
	font-style: oblique;


}
.Headingtext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003399;
	text-decoration: none;
	padding: 2px;
	font-style: italic;
	height: 0px;
	width: 200px;
	text-align: center;
	vertical-align: middle;
	display: block;
	background-position: center center;





}
.pageBorderLeft {

	background-image: url(pageBorder_left.gif);

	background-repeat: repeat-y;

}

.pageBorderRight {

	background-image: url(pageBorder_right.gif);

	background-repeat: repeat-y;

}

.tableHeader {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 13px;

	color: #464631;

	text-decoration: none;

	background-color: #EDEDDE;
	border-top:1px solid #deded1;

	font-weight: bold;

}

.submitButton {

	background-image: url(submit_button.gif);

	background-repeat: no-repeat;

	height: 23px;

	width: 86px;

}

.selectbox {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 11px;

	color: #464631;

}



.tableBorderLeft {

	background-image: url(tableborder_left.gif);

	background-repeat: repeat-y;

}

.tableBorderRight {

	background-image: url(tableborder_right.gif);

	background-repeat: repeat-y;

}

A.footer:visited {

	font-family: Arial;

	font-size: 10px;

	font-weight: normal;

	color: #464631;

	text-decoration: none;

}

A.footer:link {font-family: Arial;font-size: 10px;font-weight: normal;color: #464631;text-decoration: none;

}

A.footer:hover {font-family: Arial;font-size: 10px;font-weight: normal;color: #464631;text-decoration:underline;	

}



.footerTD {

	font-family: Arial;

	font-size: 10px;

	font-weight: normal;

	color: #464631;

	text-decoration: none;

	border-top-width: 1px;

	border-top-style: solid;

	border-top-color: #8C8C8C;

	}

.bpgHeading {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 18px;

	color: #464631;

	text-decoration: none;

	padding: 5px;

	font-style: normal;

	font-weight: bold;

}

.floatl {float:left;}
.lh18 {line-height:18px;}
.checkboxalign {margin-right:4px; margin-top:3px; background:none;}
label {cursor:pointer;}

#netbanking {text-align:left;}
#netbanking input {margin-right:10px; background:none;}
#netbanking .floatl {float:left;}
.w100p {width:100%;}
.w33p {width:33%; line-height:15px;}
.columntext {font:11px Arial, Helvetica, sans-serif;}