
/* Reset */

.cf:before,.cf:after {
content:" ";
display:table;
}

.cf:after {
clear:both;
}

.cf {
zoom:1;
clear:both;
height:0;
}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
margin:0;
padding:0;
font-family:Arial;
}


body {
height:100%;
min-height:100%;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block;
width:100%;
}

ul {
list-style:none;
}

blockquote,q {
quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
content:none;
}

a {
font-size:100%;
vertical-align:baseline;
background:transparent;
margin:0;
padding:0;
text-decoration:none;
}
a:hover{color:#000;}

ins {
background-color:#ff9;
color:#000;
text-decoration:none;
}

mark {
background-color:#ff9;
color:#000;
font-style:italic;
font-weight:700;
}

del {
text-decoration:line-through;
}

abbr[title],dfn[title] {
border-bottom:1px dotted;
cursor:help;
}

table {
border-collapse:collapse;
border-spacing:0;
}

hr {
display:block;
height:1px;
border:0;
border-top:1px solid #bed62f;
margin:10px 0 10px 0;
padding:0;
width:100%
}

img{float:left;}

input,select {
vertical-align:middle;
margin:0;
border:none;
border-radius:3px;
}

input[type="image"]{}


h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
font-family: Arial;
font-weight:500;
line-height:1.1;
color:inherit;
}
.br{border:solid 1px red;}

.left{float:left}
.right{float:right}
.center{margin:0 auto}

.txtright{text-align:right}

.bgblack{background:black; color:#FFF}

/* website style */

/* common style */
*{transition:0.5s;-moz-transition:0.5s;-webkit-transition:0.5s;-o-transition:0.5s}

.holder{/*margin:0 auto;*/}


.ico{background:url('../images/sprite.png') no-repeat 0 0;}

h2{font-size:24px; text-transform:uppercase; color:#556771; margin-bottom:15px; float:left; width:100%;}
h3{font-size:16px; text-transform:uppercase; color:#556771; margin-bottom:10px; float:left; width:100%;}
h4{font-size:13px; color:#556771;  margin-bottom:20px; float:left; width:100%;}

.more{float:left; font-size:16px; text-transform:uppercase; color:#e0392b; padding:0 15px 0 0; background:url('../images/sprite.png') no-repeat right -974px;}
.more.rgt{float:right;}

.add{margin:10px 0 0 0; float:right;}
.add1{margin:30px auto 0 auto; width:728px;}
.rgt_add{border-bottom: solid 5px #efefef; padding: 0 0 20px 0; margin:20px 0 0 0;}

.img_lin{border-bottom: 5px solid #07ab74;}

hr{}

input[type="text"], textarea{border:solid 1px #a3cd00;border-radius: 5px;}
input[type="text"]:focus, textarea:focus{border-color:#F7D525; outline-color:#F7D525;}
button{border-color:transparent; outline-color:transparent;}

/* header style */

header ul.holder{*margin-top:20px;}
.logo{float:left; margin:10px}





.main-nav {text-align:center;}
.main-nav li {display:block;}


/* body style */

.search_section{background:#f2fdd2; padding:10px 0 15px 0;}
.main-search-holder{float:left;}
.main-search {background:#fff; border:solid 1px #748e9d; border-radius:3px; float:left; position:relative; height:36px; width:100%; margin:5px 0 0 0;}
.main-search .srch-box {border:none; border-top:solid 1px #d4d4d4; border-radius:3px 0 0 3px; color:#878787; float:left; font-size:18px; line-height:25px; font-weight:normal; padding:5px 10px;}
.main-search .srch-box:hover,.main-search .srch-box:focus{background:#f2fdd2; color:black}
.srch-ico {background-color:#e1392b; background-position:17px -1069px; border-top:1px solid #bb2f24; border-radius:0 2px 2px 0; float:right; cursor:pointer;}
.srch-ico:hover{background-color:#C72214}
.srch_option{float:left; margin-top:3px;}
.srch_option li{float:left;}
.srch_option  li{text-align:center; margin:0 7px 0 0;}
.srch_option  li a{float:left; color:#e0392c; font-size:12px; padding:7px 13px; text-decoration:none;}
.srch_option li span{height:7px; float:left; width:100%;background:url('../images/sprite.png') no-repeat 75% -830px;}
.srch_option li:hover span,.srch_option li.active span{background-position:75% -876px;}
.srch_option li:hover a,.srch_option li.active a{background:#e0392c; color:#fff; border-radius:5px;}

.recipe_counter{float:left; margin:0 60px; width:142px; font-size:13px; line-height:30px; border:1px solid #acb396; background:#ebf6cd; color:#414247; border-radius:5px; padding:3px 0; text-align:center; text-transform:uppercase;}

.social_media{float:left; font-size:20px; line-height:20px; color:#919da4; margin:10px 0 0 0;}
.social_media li{float:left; margin:0 5px 0 0;}
.social_media li a{background:url('../images/sprite.png') no-repeat 2px 0; float:left; padding:0 0 0 5px; width:23px; height:23px;}
.social_media li a:hover{background-position:2px -47px;}
.social_media li+li a{background-position:10px -95px;}
.social_media li+li a:hover{background-position:10px -145px;}
.social_media li+li+li a{background-position:5px -193px;}
.social_media li+li+li a:hover{background-position:5px -239px;}
.social_media li+li+li+li a{background-position:5px -287px;}
.social_media li+li+li+li a:hover{background-position:5px -336px;}
.social_media li:before{content:"|"; float:left;}
.social_media li.first:before{content:"";}
.social_media li.first a{padding:0;}

.banner{margin:0 auto; margin-bottom:20px;}
.banner img{width:100%;}

#slider .slides li{position:relative !important;}
#slider li .banner_info{position:absolute; background:url('../images/banner_info_bg.png') repeat 0px 0;text-align:center; color:#fff;}
.banner_info h2{color:#fff;}
.banner_info a{color:#fff; margin:10px 0; display:inline-block; float:none; background:url('../images/sprite.png') no-repeat right -1173px;}
#carousel .slides{width:100% !important;}
#carousel.flexslider{top:-10px; left:0; z-index:100000;}
#carousel li{position:relative;}
#carousel li img{border-top:10px solid transparent;}
#carousel li.flex-active-slide img{border-top:5px solid red;}
.flexslider .slides  .banner_info img{width:auto; display:inline-block}
.thumb_info{float:left; position:absolute; width:100%; line-height:13px; color:#556771; bottom:0; left:0; padding:5px 0; background:url('../images/thumb-strip.png') repeat 0px 0; text-align:center;}

.main_container{margin:0 auto;}

.section_left{position:relative;}

.breadcrumbs{float:left; width:100%; height:35px; line-height:35px; border-bottom:solid 1px #bed62f; margin-bottom:20px;}
.breadcrumbs li{display:inline; color:#999999; font-size:12px;padding-right:5px;}
.breadcrumbs li a{display:inline;padding-right:15px; color:#556771; background:url('../images/sprite.png') no-repeat right -1421px;}
.breadcrumbs .holder{margin:0 auto;}


.tip{float:left; width:100%; border:solid 1px #a3cd00; font-size:13px; color:#7e868b;}
.tip:hover{background:#F5FDD7;}
.tip:hover .tip_author{background-position:0 -902px;}
.tip_ttl{background:#a3cd00; width:80px; padding:10px 10px; text-transform:uppercase; float:left; font-size:20px; line-height:21px; text-align:center; color:#fff;}
.tip_author{background:url('../images/sprite.png') no-repeat -5px -902px; float:left; padding:0 10px 0 20px; height:62px; width:22%; line-height:13px;}
.tip_author img{float:left; margin-right:5px;}
.tip_author p{color:#556771; margin-top:15px; margin-bottom:5px;}
.tip_author p+p{ margin-top:0px;}
.tip_info{width:40%; padding:15px 20px 0 10px; float:left; line-height:16px;}
.tip_social{float:left; border-left:solid 1px #a3cd00; margin-top:5px;width:15%;}
.tip_social img{float:left;width:100%;}

.prdct_list > li{float:left; margin:30px 0 0 0;}
/*.prdct_list > li:hover{background:#F5FDD7;}*/
.prdct_list > li+li{float:right}
.prdct_list > li+li+li{float:left}
.prdct_list > li+li+li+li{float:right}
.prdct_list li img{float:left; border-bottom:5px solid #07ab74;}
/*.prdct_list li:hover img{ -webkit-filter: blur(1px); -moz-filter: blur(1px); -o-filter: blur(1px); -ms-filter: blur(1px); filter: blur(1px);}*/
.prdct_desc{float:right;color:#7e868b; font-size:13px; line-height:16px;}
.prdct_desc h3{font-size:16px; text-transform:uppercase;}
.prdct_desc h3, .prdct_desc p{margin-bottom:10px;}
.prdct_desc ul{margin-bottom:20px; float:left; width:100%;}
.prdct_desc li{background:url('../images/sprite.png') no-repeat 0 -1129px; padding:0 0 0 15px; float:left; width:94%; margin-bottom:5px;}
.prdct_desc li a, .contest_link{background:url('../images/sprite.png') no-repeat right -1024px; color:#128ddc; padding:0 15px 0 0;}
.prdct_desc li a:hover{color:#000;}

.contest{margin:20px 0 0 0; color:#7e868b; font-size:13px; line-height:17px; border-bottom:solid 5px #efefef; padding:0 0 25px 0; float:left;}
.contest img{float:left;}
.contest h3{font-size:16px; margin:0 0 15px 0;}
.contest p{margin:0 0 15px 0;}
.contest_desc{float:right;}
.contest_link{float:left; width:auto; margin-top:20px;}
.contest_link a{color:#128ddc;}
.contest_link+.contest_link{float:right; margin-right:20}

.home_faq{float:left; margin:30px 0 0 0;}
.home_faq h4{ text-transform:uppercase; color:#556771; margin-bottom:10px;}
.home_faq p{margin-bottom:20px; line-height:18px;}

/* Inside page style */

/* Recipe page style */
.product_holder{position:relative; margin:10px 0 0 0; float:left; width:100%; font-size:13px;}

.social_share{float:right; margin-bottom:10px;}
.product_img{float:left;}
.product_img img{width:100%}
.print_cmnts{position:absolute; top:0; right:0;}
.print_cmnts li{float:left;}
.print_cmnts li:first-child{border-right:solid 1px #efefef; margin:0 10px 0 0; padding:0 10px 0 0}
.print_cmnts li.comments a{background-position:0 -1222px;}
.print_cmnts li.print a{background-position:0 -1278px;}
.print_cmnts li a{float:left; padding:0 0 0 30px; color:#556771; font-size:11px; text-transform:uppercase; line-height:22px;}
.print_cmnts li a:hover{color:#e0392c;}

.product_desc{float:right; margin:60px 0 0 0;}
.product_desc dl{float:left; width:100%; margin:0 0 18px 0;}
.product_desc dt, .product_desc dd{float:left;}
.product_desc dt{color:#556771; text-transform:uppercase;}
.product_desc dd{color:#7d878b; text-indent:5px;}
.receipe_author{float:left; width:100%; padding:0 0 10px 0; border-bottom:solid 5px #efefef;}
.receipe_author dd{color:#138ddb;}

.rating-box {width: 120px; height: 20px; font-size: 0; line-height: 0; background: url('../images/rating.png') 0 -31px repeat-x; text-indent: -999em; overflow: hidden; margin:-5px 0 0 20px}
.rating {float: left; height: 20px; background: url('../images/rating.png') 0 0 repeat-x;}


.product_holder  .abt_prdct{margin:30px 0 20px 0; float:left; line-height:18px;}
.methods{float:left; margin:0 0 10px 0;}
.prdct_inf_hldr{}
.prdct_inf_hldr h2{float:left;padding:14px 50px 10px 50px; background:#bed62f; margin-bottom:0; width:auto; font-size:18px;}
.prdct_inf_hldr p{float:left; margin:0 0 15px 0;}
.prdct_inf{float:left;padding:20px 10px; border:solid 1px #bed62f; line-height:16px; display:block; *width:92%;}

.number{
	counter-reset:li; /* Initiate a counter */
	margin-left:0; /* Remove the default left margin */
	padding-left:0; /* Remove the default left padding */
}
.number > li{
	position:relative; /* Create a positioning context */
	margin:0 0 20px 35px; /* Give each list item a left margin to make room for the numbers */
	padding:4px 8px; /* Add some spacing around the content */
	list-style:none; /* Disable the normal item numbering */
}

.number > li:before {
	content:counter(li); /* Use the counter as content */
	counter-increment:li; /* Increment the counter by 1 */
	/* Position and style the number */
	position:absolute;
	top:-2px;
	left:-2em;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	width:2em;
	/* Some space between the number and the content in browsers that support
	   generated content but not positioning it (Camino 2 is one example) */
	margin-right:8px;
	padding:4px;
	color:#556771;
	background:#e6f6b7;
	font-size:18px;
	text-align:center;
	border:solid 1px #d2e850;
}
.number li ol,
.number li ul {margin-top:6px;}
.number ol ol li:last-child {margin-bottom:0;}


.region_select select {
    padding:3px;
    margin: 0;
    background: #fff;
    color:#7d878b;
    border:1px solid #ececec;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
	height:32px;
}

.serving select {
    padding:3px 30px 3px 10px;
	padding:3px \0/;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background: #fff;
    color:#888;
    border:1px solid #748e9d;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
.region_select select {padding-right:18px}
}

label.serving {position:relative; top:-5px;}
label.serving:after {
    content:'>';
    font:14px "Consolas", monospace;
    color:#fff;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:7px; top:-2px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
}

label.region_select:after {
    content:'>';
    font-size:19px;
	font-family: Arial;
    color:#fff;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:12px; top:5px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
}


label.serving:before {
    content:'';
    right:3px; top:-2px;
    width:21px; height:21px;
    background:#748e9d;
    position:absolute;
    pointer-events:none;
    display:block;
}

label.region_select:before {
    content:'';
    right:1px; top:1px;
    width:30px; height:30px;
    background:#e1392b;
    position:absolute;
    pointer-events:none;
    display:block;
}



.ingredients{float:right; margin:0 0 10px 0;}
.ingredients .prdct_inf .inf_hldr{ padding:0 10px;width: 92%; float: left;}
.inf_hldr p{float:left; width:100%; padding:0 10px; margin:0 0 7px 0; line-height:13px;}
.inf_hldr p > span{color:#556771; text-indent:5px;}

.comment_section{float:left; width:100%; margin-top:10px;}
.comment_section form{float:left;}
.comment_section input[type="text"]{width:140px; padding:0 10px; height:25px; margin:0 10px 0 0; color:#919da3; font-size:13px; margin-bottom:10px;}
.comment_section textarea{width:96%; margin-bottom:10px; height:74px; padding:5px 2%;}
.comment_section button{float:right; background:#fff; color:#e0392b; border:none; font-size:16px; text-transform:uppercase; cursor:pointer; background:url('../images/sprite.png') no-repeat right -970px; padding-right:10px;}
.comment_section button:hover{color:#000;}
.comment_section li{position:relative; float:left; width:100%; border-bottom:solid 1px #c3de59; padding: 0 0  10px 0; margin:0 0 20px 0;}
.comment_section li > img{padding:1px; border:1px solid #cfcfcf;}
.cmnts_desc{float:right; width:88%;}
.cmnts_desc h6{color:#556771; font-size:13px; font-weight:normal; margin:0 0 10px 0;}
.cmnts_desc p{margin:0 0 10px 0;}
.cmnts_desc a{color:#11a3df; font-size:12px; float:left; margin:25px 0 0 0;}
.cmnts_desc time{position:absolute; right:0; top:0;}
.cmnts_desc .likes{position:absolute; right:0; bottom:10px; float:left;}
.cmnts_desc a{width:15px; height:15px; float:left; margin:0 0 0 15px;}
.cmnts_desc .like{background-position:0 -1328px;}
.cmnts_desc .dislike{background-position:0 -1374px;}

.recipe_tabs{float:left; width:100%; padding:0 0 15px 0; border-bottom:solid 5px #efefef; margin:30px 0 0 0 ;}
.recipe_tabs li{float:left; width:50%; text-align:center;}
.recipe_tabs li.active span{background:url('../images/arrow_down.jpg') no-repeat 0 0; width:11px; height:7px; display:block; margin:0 auto;}
.recipe_tabs li a{font-size:18px; color:#7d878b; border:solid 1px #a3cd00; display:block; text-transform:uppercase; line-height:40px;}
.recipe_tabs li.active a{background:#e1392b; border:solid 1px #e1392b; color:#fff;}

.user-details{padding:13px 0 0 0; float:left;}
.user-details ul{float:left; width:100%;}
.user-details li{float:left; width:100%; margin:0 0 10px 0;}
.user-details li > a{float:left;}
.user-details li .tabs_desc{float:right; width:50%; padding:20px 0 0 0;}
.user-details li a{border:none;}
.user-details li p{float:left; margin:0 0 5px 0; font-size:13px; line-height:13px; text-transform:none;}
.user-details li p span{color:#556771; text-transform:uppercase;}

.region_select{position:absolute; top:0;}

.prdct{float:left;padding:10px 0 0 0;}
.prdct li{float:left; position:relative;}
.prdct li:hover figure{outline:solid 1px #17AE6D; float:left;}
.prdct li a{color:#fff;}
.prdct li img{width:100%;}
.prdct li figcaption{float:left; position:absolute; bottom:0; left:0; background:url('../images/grn_bg.png') repeat 0 0; line-height:35px; text-align:center; text-transform:uppercase; font-size:16px;}
.prdct li:hover figcaption{line-height:45px;}

.pagination{float:right;}
.pagination .prev,.pagination .next{float:left; border:solid 1px #999; width:23px; height:23px; background:url('../images/sprite.png') no-repeat 0 0;transition:0s;-moz-transition:0s;-webkit-transition:0s;-o-transition:0s}
.pagination .prev:hover, .pagination .prev.active, .pagination .next:hover, .pagination .next.active{background:url('../images/sprite.png') no-repeat 0 0 #e1392b;}
.pagination .prev:hover, .pagination .prev.active{background-position:-20px -1556px;}
.pagination .next:hover, .pagination .next.active{background-position:-18px -1168px;}
.pagination .prev{margin:0 10px 0 0; background-position:-20px -1495px;}
.pagination .next{background-position:-19px -1416px;}

.methods hr {
margin:0 0 20px 0;
}


/* footer style */
footer{background:#1084CE; color:#FFF; font-size:11px;font-family:Arial; margin:10px 0 0 0; float:left; text-align:center; }
footer li{display:inline; padding: 0 7px 0 0;}
footer li.first a{padding:0;}
footer li.first:before{content:"";padding-left:10px;}
footer li:before{content:"|";color:#fff;}
footer li a{color:#FFF; padding: 0 0 0 7px; font-size:11px;font-family:Arial;}
footer li a:hover,footer li.active a{color:#000;}






/* ie styles */
.ie7 label:after,.ie8 label:after {
	content:'';
	}

.ie7 .number > li{
	list-style:decimal;
}

.ie7 .serving select{
    padding:3x;
	}
	
