.greybluetext9  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:  9px; font-style: normal; font-weight: normal; color: #395157; text-decoration: none}
.greybluetext10 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: normal; color: #395157; text-decoration: none}
.text 10        { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000033}
.textgrey11     { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #666666; text-decoration: none}
.arial11a       { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; text-decoration: none}
.arial11orange  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FF6600; text-decoration: none}
.arial11blue    { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #0097D7; text-decoration: none}
a.link2         { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000033; text-decoration: none; font-weight: bold}
a.link2:hover   { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #005177; text-decoration: none; font-weight: bold}
a.link3         { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #666666; text-decoration: none; font-weight: normal}
a.link3:hover   { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #005177; text-decoration: none; font-weight: normal}
a.link1         { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; text-decoration: none}
a.link1:hover   { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FF7D1B; text-decoration: none}
.textbox        { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; text-decoration: none; height: 17px; border: 1px #000000 solid}
.selectbig1      { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; width:350px; font-style: normal; text-decoration: border: 1px #000000 solid}
.selectbig      { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; width:200px; font-style: normal; text-decoration: border: 1px #000000 solid}
.textbox1       { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; text-decoration: none; border: 1px #01263D solid; color: #023A60; clip:  rect(   )}
.button         { height: 18px; border-color: #000000 #000000 #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; cursor: hand; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; background-color: #7292C5; font-weight: bold; color: #000000}
.CellTextLight	{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; background-color: #F1F5FF; font-weight: normal;}
.CellTextDark	{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; background-color: #E5E7F3; font-weight: normal;}
.ColumnHeader   { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; background-color: #7292C5; font-weight: bold; color: #ffffff; border-color=#ffffff #ffffff #ffffff }
.errormsg  		{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: bold; color: blue; text-decoration: none}
.alertmsg  		{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: bold; color: blue; text-decoration: none}
.textarea       { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; text-decoration: none; border: 1px #000000 solid}
.onlinecolor    {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; color:blue}
.offinecolor    {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; color:#A796D7}
