
/*Mobile - Potrait*/
@media only screen and (min-width: 320px) {

/* header style */
.main-nav{width:80%;}
.main-nav ul{display: none;height: auto;width:90%;background:#fff;box-shadow:0 0 5px #292929; position:absolute; right:10%; top:80px; z-index:10000; transition:0s;-moz-transition:0s;-webkit-transition:0s;-o-transition:0s;}
.main-nav ul li{float:left; text-transform:uppercase; width:100%; display:block;}
.main-nav ul li a{padding:2% 5%; display:block; border:none;border-bottom:1px solid #292929; color:#000;}
.main-nav ul li a:hover{background:#1084C6; color:#fff;}
#nav-mobile{display: block;background: url('../images/menu_ico.jpg') no-repeat;width: 30px;height:17px;position: absolute;line-height:18px;color:#fff;top:56px;right: 10%;}
#nav-bottom{display: block;border-bottom: 2px solid #00addb;width:100%;float:right;}
.pr1 {background-image: url("../images/1.png");}
.pr2 {background-image: url("../images/2.png");}
.pr3 {background-image: url("../images/3.png");}
.pr4 {background-image: url("../images/4.png");}
.pr5 {background-image: url("../images/5.png");}
.pr6 {background-image: url("../images/6.png");}
#s{display:block;padding:10px;}

header .holder{width:90%;}
header ul.holder{width:80%;}
.breadcrumbs .holder{width:96%;}

/* body style */

.banner{width:100%;}
.banner_info a{float:left; margin:10px 0px;}
.banner_info h2{font-size:18px; margin-bottom:10px !important;}
.scl_lik{float:right;}
#carousel{display:none;}
#carousel .slides{width:100% !important;}
#carousel .slides  li {width:15% !important; margin-left:2% !important;}
#carousel .slides  li:first-child {margin-left:0% !important;}
#slider .slides li{padding-bottom:145px;}
#slider li .banner_info{ width:90%; height:135px; right:0; bottom:0px; margin-bottom:-10px; border-radius:0px; padding:10px 5%; font-size:12px;}
.search_section .holder{width:100%;}
.main-search-holder{width:90%; padding:0 5%;}
.main-search .srch-box {width:77%;}
.srch-ico {height:36px; width:15%;}
.main_container{width:94%; margin:0 3%;}
.prdct_list > li{width:100%;}
.prdct_list li img{width:40%;}
.prdct_desc{border:none; width:55%; padding:0;}
.prdct_desc > p,.prdct_desc > h3{display:none;}
.prdct_desc .more{float:right}
.contest{width:100%;}


.product_img{width:100%;}
.product_desc{width:100%;}
.methods{width:100%;}
.ingredients{width:100%;}
.comment_section form{width:100%;}

.prdct li{width:100%; margin:0 0 2% 0;}
.pagination{margin:0 0 0 0;}


.region_select{right:0;}


/* footer style */
footer{line-height:30px;}
footer .holder{width:100%;}
footer p{float:none;}
footer ul{float:none; margin-bottom:0px;}

/* Common */

.section_left{float:left; width:100%;}
.section_right{float:left; width:100%; margin-bottom:30px;}

/*hide*/
.tip, .desk_only, .recipe_counter,.social_media,.desk{display:none;}

/*show*/
.mbl_only, .mbl,.prdct_desc li+li+li{display:block;}


}

@media only screen and (min-width: 320px) and (max-width:599px){

}



/*Mobile - Landscape*/
@media only screen and (min-width: 480px) {
/* header style */


/* body style */

.main-search .srch-box {width:80%;}
.srch-ico {width:13%;}

/* footer style */

/* Common */
}
@media only screen and (min-width: 200px) {
.pr1 {background-image: url("../images/1.png");}
.pr2 {background-image: url("../images/2.png");} 
.pr3 {background-image: url("../images/3.png");}
.pr4 {background-image: url("../images/4.png");}
.pr5 {background-image: url("../images/5.png");}
.pr6 {background-image: url("../images/6.png");}
#s{display:block;padding:10px;}
#nav-bottom{display: block;border-bottom: 2px solid #00addb;width:100%;float:right;}
}


@media only screen and (min-width: 540px) {
/* header style */


/* body style */


/* footer style */

/* Common */
}




/*Large Mobile */
@media only screen and (min-width: 600px) {
/* header style */


/* body style */
.main-search-holder{width:590px;padding:0}
.main-search .srch-box {width:514px;}
.srch-ico {height:36px; width:56px;}
.prdct_list > li{width:48%;}
.prdct_list li img{width:100%;}
.prdct_desc{border:solid 1px #eee; border-top:none; width:89.6%; padding:3% 5%;}
.prdct_desc > p,.prdct_desc > h3{display:block;}
.prdct_desc .more{float:left}

.contest{width:50%;}
.contest img{width:38%;}
.contest_desc{width:60%;}
.prdct li{width:48%; margin:0 2% 2% 0;}
.pagination{margin:0 2% 0 0;}

/* footer style */

/* Common */

/*hide*/
.mbl,.prdct_desc li+li+li{display:none;}

/*show*/
.desk{display:block;}

}


/*Small Tablet */
/*@media only screen and (min-width: 680px) {*/
/* header style */


/* body style */


/* footer style */

/* Common */
/*}*/




/*Tablet - potrait*/
@media only screen and (min-width: 769px) {
/* header style */
header .holder{width:100% !important;}
.main-nav{width:100%; float:left;border: 2px solid #00ADDB;}
.main-nav ul{display: block; background:none; box-shadow:none; position:inherit; width:768px;}
.main-nav li{float:left; text-transform:uppercase; width:auto !important; display:inline !important;}
.main-nav li a{color:#53656f; text-decoration:none; line-height:35px; height:35px; padding:0 5px !important;display:inline-block; border-bottom:none !important;}
.main-nav li:first-child a{padding:0 5px;}
.main-nav li a:hover,.main-nav li.active a{background:#ffffff !important; color:#53656f !important;}
.main-nav li.active a{cursor:none; pointer-events:none;}
#nav-mobile{display:none}
#nav-bottom{display: none;}
#slider .slides li{padding-bottom:120px;}
#slider li .banner_info{height:110px; padding:10px 5%; font-size:13px;}
.pr1 {background-image: url("../images/basic.png");}
.pr2 {background-image: url("../images/contact.png");}
.pr3 {background-image: url("../images/personal.png");}
.pr4 {background-image: url("../images/current_emp.png");}
.pr5 {background-image: url("../images/proof.png");}
.pr6 {background-image: url("../images/accept.png");}
#s{display:none;padding:10px;}
.product_img{width:69%;}
.product_desc{width:30%;}
.methods{width:69%;}
.ingredients{width:30%;}
.comment_section form{width:590px;}

/* body style */


/* footer style */
footer{line-height:50px;}
footer p{float:left;}
footer ul{float:right; margin-bottom:0;}

/* Common 

/*show*/
.tip, .recipe_counter,.social_media{display:block;}

}


@media only screen and (min-width: 1000px) {
/* header style */
.main-nav{font-size:13px;}
.main-nav li a{padding:0 11px !important;}
.main-nav li:first-child a{padding:0 18px;}
#carousel{display:block;}

header .holder{width:100% !important;}
.breadcrumbs .holder{width:100% !important;}
/* body style */

.banner_info h2{font-size:24px;}
.banner_info a{float:none; margin:10px 40px}
.scl_lik{float:none;}
.search_section .holder{width:1000px;}
#slider .slides li{padding-bottom:0px;}
#slider li .banner_info{width:260px; height:180px; right:10%; bottom:10%; border-radius:300px; padding:60px 20px;}

.section_left{float:left; width:69%;}
.section_right{float:right; width:29%;margin-bottom:0px;}

.contest{width:100%;}

.prdct li{width:30%; margin:0 3% 3% 0;}
.pagination{margin:0 4% 0 0;}

.region_select{right:4%;}

.pr1 {background-image: url("../images/basic.png");}


/* footer style */

/* Common */
}


@media only screen and (min-width: 1194px) {
/* header style */


/* body style */

#carousel{}
.main_container{width:1194px; margin:0 auto;}
.section_left{float:left; width:850px;}
.section_right{float:right; width:300px;}


.product_img{width:593px;}
.product_desc{width:220px;}
.methods{width:590px;}
.ingredients{width:245px;}

/* footer style */
footer .holder{width:1194px;}

/* Common */
.desk_only{display:block;}
.mbl_only{display:none;}
}

/*Desktop */
@media only screen and (min-width: 1370px) {
/* header style */


/* body style */


/* footer style */

/* Common */
}



