@charset "utf-8";
/* CSS Document */

.header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #000;
	text-decoration: none;
}

.subheader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #000;
	text-decoration: none;
}

.subheader1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}

.content {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3e464d;
	text-decoration: none;
	font-weight: normal;
	line-height: 20px;
}

.link1 a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

.link1 a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
	font-weight: bold;
}


.email a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ff0000;
	text-decoration: none;
	font-weight: bold;
}

.email a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ff0000;
	text-decoration: underline;
	font-weight: bold;
}

.footer_txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3e464d;
	text-decoration: none;
	font-weight: normal;
}

.footer_txt a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3e464d;
	text-decoration: none;
	font-weight: bold;
}

.footer_txt a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
	font-weight: bold;
}