
.homedata {
	FONT-SIZE: 11px; PADDING-BOTTOM: 5px; FONT-FAMILY: Verdana, Helvetica, sans-serif; line-height: 16px; PADDING-LEFT: 5px; PADDING-RIGHT: 10px; color: #35393A; PADDING-TOP: 3px;
}


.personaldetails_l {
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	padding:0 0 0 0px;

}

.tablecontent_l{
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	height: 18px;
	color: #000000;
	padding:0 0 0 0px;

}


a.disability {
	font-family: Tahoma;
	font-size: 11px;
	color: #9d0000;
	font-weight: normal;
	text-decoration: none;
	font-weight: bold;
	text-decoration: underline;

}
a.disability:hover {
	font-family: Tahoma;
	font-size: 11px;
	color: #9d0000;
	text-decoration: none;
	font-weight: normal;
	font-weight: bold;

}
a.linktxt2 {
	font-family: Tahoma;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
}
a.linktxt2:hover {
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	text-decoration: underline;
	font-weight: bold;
	
}
a.link4 {
	font-family: Tahoma;
	font-size: 12px;
	color: #005066;
	text-decoration: none;
	font-weight: bold;
}
a.link4:hover {
	font-family: Tahoma;
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
	font-weight: bold;
	
}
.textbox {
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	background-color: #FFFFFF;
	height: 18px;
	border: 1px solid #3C619D;
	width:30px;
	padding-right: 5px;
	padding-left: 5px;
}
.textbox2 {
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	background-color: #FFFFFF;
	height: 18px;
	border: 1px solid #3C619D;
	width:110px;
	padding-right: 5px;
	padding-left: 5px;
}
.textbox4 {
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	background-color: #FFFFFF;
	height: 18px;
	border: 1px solid #3C619D;
	width:60px;
	padding-right: 5px;
	padding-left: 5px;
}
.textbox3 {
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	background-color: #FFFFFF;
	height: 18px;
	border: 1px solid #3C619D;
	width:50px;
	padding-right: 5px;
	padding-left: 5px;
}
.textboxdisable {
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	background-color: #cccccc;
	height: 18px;
	border: 1px solid #3C619D;
	width:100px;
	padding-right: 5px;
	padding-left: 5px;
}

.tableheader {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	background-color: #7FD1EA;
	color: #FFFFFF;
	height: 22px;
	padding-top: 3px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 3px;
}

.textarea {
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #005BA6;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	left: 5px;
	top: 5px;
	right: 5px;
	bottom: 5px;
	line-height: 18px;
}

.tablecontent1 {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	background-color: #dcf1fc;
	height: 10px;
	color: #000000;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.tablecontent2 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	background-color: #FFFFFF;
	height: 10px;
	color: #000000;
	left: 5px;
	top: 5px;
	right: 5px;
	bottom: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;

}
.header{
	height: 22px;
	color: #fff;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	
}
.footertext {
	font-family: Tahoma;
	font-size: 10px;
	color: #FFFFFF;

}
.alert {
	font-family: Tahoma;
	font-size: 10px;
	color: #ff0030;

}
.alert1 {
	font-family: Tahoma;
	font-size: 7px;
	color: #000000;
}
a.linkfooter {
	font-family: Tahoma;
	font-size: 11px;
	color: #00a2cf;
	text-decoration: none;
	font-weight: normal;
}
a.linkfooter:hover {
	font-family: Tahoma;
	font-size: 11px;
	color: #00a2cf;
	font-weight: normal;
	text-decoration:underline;
	
}
.text1 {
	font-family: Tahoma;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	line-height: 18px;
}
.button {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #1B5C71;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #1B5C71;
	border-right-color: #1B5C71;
	border-bottom-color: #1B5C71;
	border-left-color: #1B5C71;
	height: 20px;
	padding: 1px;
}

.tdbg {
	border: 1px solid #1287C0;

}
.content {

	font-family: Tahoma;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	line-height: 16px;
}
.personaldetails {
	font-family: Tahoma;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	padding:0 0 0 0px;

}
a.Whitelink {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}
a.Whitelink:hover {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}
.redtext {
	font-family: Tahoma;
	font-size: 12px;
	color: #ff0000;
	font-weight: normal;
	text-decoration: none;
	font-weight: bold;
}
.listMenu{
	  border:1px solid #999999; 
     font-family:tahoma;
	font-size:11px;
    color:#606A74;
}

.listMenudisable{
	  border:1px solid #999999; 
     font-family:tahoma;
	font-size:11px;
    color:#cccccc;
}
input.chk1 {
	border: thin solid #e4eee4;
}
input.chk2 {
	background-color: #cccccc;
	border: thin solid #a9e3f7;
}

.header2 { height: 22px; color: #083b8c; padding-top: 1px; padding-bottom: 1px;	font:bold 12px Tahoma;}

.header1{
	height: 22px;
	color: #fff;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	
}

.listMenu2{ border:1px solid #999999; font:normal 11px tahoma; color:#606A74; width:60px;}

.blue_bg{
background-color:#1287C0;
}

.app_name{
color:#FFFFFF; font-weight:bold; text-align:center; margin:4px 0;
}

.table_align{
    clear: both;
    left: -3px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 101%;
}

.greentext {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: green;
	font-weight: normal;
	text-decoration: none;
	font-weight: bold;
}

.redtext {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: red ;
	font-weight: normal;
	text-decoration: none;
	font-weight: bold;
}
