.ltext{font:13px normal Arial, Helvetica, sans-serif;
text-transform:uppercase;
color:#000;
font-weight: bold;
vertical-align:bottom;

}
.ltexts {font:13px normal Arial, Helvetica, sans-serif;
text-transform: none;
color:#000;
vertical-align:bottom;
font-weight:normal;
}
.ltexts2 {font:13px normal Arial, Helvetica, sans-serif;
text-transform: none;
color:#000;
vertical-align:bottom;
font-weight: bold;
}

.n_mapp{font:11px normal Arial, Helvetica, sans-serif;
text-transform: none;
color:#000;
vertical-align:bottom;
}
.line
{border-bottom:1px solid #000; 
font:13px normal Arial, Helvetica, sans-serif;
vertical-align:bottom;

}
h1
{font:14px Arial, Helvetica, sans-serif;
font-weight:bold;
color:#000;
}
h2
{font:12px Arial, Helvetica, sans-serif;
font-weight:bold;
color:#000;
text-transform:none;
}
.datebg
{background:url(../images/datebg.png) no-repeat;font:13px normal Arial, Helvetica, sans-serif;
width:53px;
height:24px;
}

.datebg2
{background:url(../images/datebg2.png) no-repeat;font:13px normal Arial, Helvetica, sans-serif;
width:105px;
height:24px;
}
.d_txt
{font:13px normal Arial, Helvetica, sans-serif;
color:#000;
vertical-align:bottom;
padding-left:17px;
padding-top:2px;
}
.d_txt2
{font:13px normal Arial, Helvetica, sans-serif;
color:#000;
vertical-align:bottom;
padding-left:35px;
padding-top:2px;
}
ul{list-style-type:lower-alpha; margin-top:-10px;}
p{text-align:justify;font:13px normal Arial, Helvetica, sans-serif;
text-transform: none;
color:#000;
font-weight:normal; margin:0;padding:0; }
.tbl{padding:0 10px 0 8px}
.maintbl{border:1px solid #000; }
.centrebg{background:url(../images/centre_bg.png) no-repeat;width:79px;font:13px normal Arial, Helvetica, sans-serif;
height:24px;}

.mem_regbg{background:url(../images/mem_reg.png) no-repeat;font:13px normal Arial, Helvetica, sans-serif;font:13px normal Arial, Helvetica, sans-serif;
width:235px;
height:24px;
}
.mem_reg_txt{padding-left:9px; letter-spacing:19px;}
.bordertxt{border:1px solid #000; padding:0 2px 0 2px; margin:0;font:13px normal Arial, Helvetica, sans-serif;
}
