.content {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #444444;
	text-decoration: none;
	line-height: 130%;
}
	
.hindicontent {
	font-family: Kruti Dev 040 Wide;
	font-size: 14px;
	color: #444444;
	text-decoration: none;
	line-height: 130%;
}
.text1 {
	font-family: Tahoma, Arial;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	line-height: 130%;


}
.text1bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;

}
.text2 {
	font-family: Tahoma, Arial;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	font-weight: normal;

}
.text2bold {
	font-family: Tahoma, sans-serif, Verdana;
	font-size: 11px;
	color: 606C96;
	text-decoration: none;
	font-weight: bold;

}
.text3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006699;
	text-decoration: none;
}
.text3bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	text-decoration: none;
	font-weight: bold;

}
.alerttext {
	font-family: Tahoma, sans-serif, Verdana;
	font-size: 11px;
	color: #FF0000;
	text-decoration: none;
}
.alerttextbold {
	font-family: Tahoma, sans-serif, Verdana;
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
	font-weight: bold;

}
.subheader1 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #535353;
	text-decoration: none;
}
a.linktxt1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #747474;
	text-decoration: none;
	font-weight: normal;
	background-color: E2E2E2;
	height: 11px;
	padding-right: 10px;
	padding-left: 10px;



}
a.linktxt1:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #535353;
	text-decoration: none;
	font-weight: normal;
	background-color: E2E2E2;
	height: 11px;
	padding-right: 10px;
	padding-left: 10px;


}

a.linktxt1a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #E1DDDD;
	text-decoration: none;
	font-weight: normal;
	background-color: 747474;
	height: 11px;
	padding-right: 10px;
	padding-left: 10px;



}
a.linktxt1a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FBFBFB;
	text-decoration: none;
	font-weight: normal;
	background-color: 747474;
	height: 11px;
	padding-right: 10px;
	padding-left: 10px;


}


a.linktxt2 {


	font-family: Tahoma, Arial;
	font-size: 11px;
	color: #333333;
	text-decoration: underline;
	font-weight: normal;
}
a.linktxt2:hover {
	font-family: Tahoma, Arial;
	font-size: 11px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;

}
a.linktxt2a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CC3300;
	text-decoration: none;
	font-weight: normal;



}
a.linktxt2a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;



}

a.linktxt2b {
	font-family: Tahoma, Arial;
	font-size: 12px;
	color: #42567d;
	text-decoration: none;
	font-weight: normal;
	padding-top: 4px;
	padding-bottom: 2px;
	width: 100%;
	padding-right: 8px;
	padding-left: 4px;
	height: 22px;
	background-color: efefef;
	display: block;





}
a.linktxt2b:hover {
	font-family: Tahoma, Arial;
	font-size: 12px;
	color: #31405B;
	text-decoration: none;
	font-weight: normal;
	background-color: #F8F8F8;
	padding-top: 4px;
	padding-bottom: 2px;
	width: 100%;
	padding-right: 8px;
	padding-left: 4px;
	height: 22px;
	display: block;



}

a.linktxt2d {
	font-family: Tahoma, Arial;
	font-size: 12px;
	color: #152f86;
	text-decoration: none;
	font-weight: normal;
	padding-top: 4px;
	padding-bottom: 2px;
	width: 100%;
	padding-right: 8px;
	padding-left: 4px;
	height: 22px;
	background-color: #cdd7e6;





}
a.linktxt2d:hover {
	font-family: Tahoma, Arial;
	font-size: 12px;
	color: #152f86;
	text-decoration: none;
	font-weight: normal;
	background-color: #F8F8F8;
	padding-top: 4px;
	padding-bottom: 2px;
	width: 100%;
	padding-right: 8px;
	padding-left: 4px;
	height: 22px;




}
a.linktxt2c {
	font-family: Tahoma, Arial;
	font-size: 10px;
	color: #0e3b82;
	text-decoration: none;
	font-weight: bold;



}
a.linktxt2c:hover {
	font-family: Tahoma, Arial;
	font-size: 10px;
	color: #0e3b82;
	text-decoration: underline;
	font-weight: bold;



}

a.linktxt3 {
	font-family: Tahoma, Arial;
	font-size: 11px;
	color: #1d509f;
	text-decoration: underline;
	font-weight: normal;
	line-height: normal;


}
a.linktxt3:hover {
	font-family: Tahoma, Arial;
	font-size: 11px;
	color: #153C75;
	text-decoration: none;
	font-weight: normal;

}
a.linktxt3a {
	font-family: Tahoma, Arial;
	font-size: 11px;
	color: #464646;
	text-decoration: underline;
	font-weight: normal;
	line-height: normal;


}
a.linktxt3a:hover {
	font-family: Tahoma, Arial;
	font-size: 11px;
	color: #153C75;
	text-decoration: none;
	font-weight: normal;

}
a.linktxt3b {
	font-family: Tahoma, Arial;
	font-size: 11px;
	color: #000000;
	text-decoration: underline;
	font-weight: normal;
	line-height: normal;


}
a.linktxt3b:hover {
	font-family: Tahoma, Arial;
	font-size: 11px;
	color: #153C75;
	text-decoration: none;
	font-weight: normal;

}
a.linktxt4 {
	font-family: Tahoma, sans-serif, Verdana;
	font-size: 11px;
	color: #0e3b82;
	text-decoration: none;
	font-weight: normal;
}
a.linktxt4:hover {
	font-family: Tahoma, sans-serif, Verdana;
	font-size: 11px;
	color: #0e3b82;
	font-weight: normal;
	text-decoration: underline;


}
a.linktxt4a {
	font-family: Tahoma, sans-serif, Verdana;
	font-size: 11px;
	color: #bc433c;
	text-decoration: none;
	font-weight: normal;
}
a.linktxt4a:hover {
	font-family: Tahoma, sans-serif, Verdana;
	font-size: 11px;
	color: #870c05;
	font-weight: normal;
	text-decoration: none;


}
.textwhite {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	letter-spacing: 0.05em;
}
.textwhite1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	letter-spacing: 0.05em;
	font-weight: bold;
}
.textwhitebold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #d5d5d5;
	text-decoration: none;
	font-weight: normal;
	height: 22px;
	padding-bottom: 2px;
	padding-top: 4px;
}
.textarea {
	font-family: Tahoma, Arial, Verdana, "Times New Roman";
	font-size: 11px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #7E8080;
}
.textareabig {
	font-family: Tahoma, Arial, Verdana, "Times New Roman";
	font-size: 11px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #7E8080;
}
/*
.tableheader {
	font-family: Tahoma, Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: bold;
	background-color: #D8D8D8;
	height: 22px;
	padding-right: 1px;
	padding-left: 3px;
	color: #000000;
	padding-top: 1px;
	padding-bottom: 1px;

}
*/
.tableheader1 {
	font-family: Tahoma, Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: bold;
	background-color: #92b3d6;
	height: 22px;
	padding-right: 1px;
	padding-left: 3px;
	color: #000000;
	padding-top: 1px;
	padding-bottom: 1px;
}
.tablehindiheader1 {
	font-family: Kruti Dev 040 Wide, Tahoma, Arial, Verdana, "Times New Roman";
	font-size: 20px;
	font-weight: bold;
	background-color: #92b3d6;
	height: 22px;
	padding-right: 1px;
	padding-left: 3px;
	color: #000000;
	padding-top: 1px;
	padding-bottom: 1px;
}

.tablecontent1 {
	font-family: Tahoma, Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: normal;
	background-color: #F4F4F4;
	height: 20px;
	padding-right: 1px;
	padding-left: 3px;
	color: #000000;
	top: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
	line-height: 130%;



}
.tablecontent2 {
	font-family: Tahoma, Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: normal;
	background-color: #FBFBFB;
	height: 20px;
	padding-right: 1px;
	padding-left: 3px;
	color: #000000;
	padding-top: 1px;
	padding-bottom: 1px;
	line-height: 130%;
}

.tablecontent3 {
	font-family: Tahoma, Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: normal;
	background-color: #d0e0f0;
	height: 20px;
	padding-right: 1px;
	padding-left: 3px;
	color: #000000;
	top: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
	line-height: 130%;
}

.tablecontent4 {
	font-family: Kruti Dev 040 Wide,Tahoma, Arial, Verdana, "Times New Roman";
	font-size: 15px;
	font-weight: normal;
	background-color: #d0e0f0;
	height: 20px;
	padding-right: 1px;
	padding-left: 3px;
	color: #000000;
	padding-top: 1px;
	padding-bottom: 1px;
	line-height: 130%;
}


#AutoScrollContent {
	position:absolute;
	top:4px;
	left:1px;
	width:280px;
	visibility:visible;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	height: 95px;
}
.textbox {
	font-family: Tahoma, Arial;
	font-size: 11px;
	color: #006699;
	background-color: #FCFDFD;
	height: 20px;
	border: 1px solid #6982a6;
	padding-left: 5px;
	padding-top: 1px;



}
.button {
	font-family: Tahoma, Arial;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #044983;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #6E96B8;
	border-right-color: #033466;
	border-bottom-color: #022755;
	border-left-color: #386F9D;
	height: 20px;
	padding: 1px;


}

a.linktxt5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #d5d5d5;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 0.15em;




}
a.linktxt5:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #F4F4F4;
	font-weight: bold;
	letter-spacing: 0.15em;







}
.pageheader1 {
	font-family: Tahoma;
	font-size: 16px;
	color: #0066CC;
	text-decoration: none;
	font-weight: bold;

}

a.linktxt6 {

	font-family: Tahoma, sans-serif, Verdana;
	font-size: 11px;
	color: #656A7D;
	text-decoration: none;
	font-weight: normal;
}
a.linktxt6:hover {


	font-family: Tahoma, sans-serif, Verdana;
	font-size: 11px;
	color: #656A7D;
	text-decoration: underline;
	font-weight: normal;
}
.text4 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #636363;
	text-decoration: none;
	line-height: normal;
}
.subheader2 {


	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #094c5e;
	text-decoration: underline;
}
.text5 {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #535353;
	text-decoration: none;
	line-height: normal;
}
.text4bold {

	font-family: Tahoma;
	font-size: 11px;
	color: #BD1806;
	text-decoration: none;
	font-weight: bold;
}
.text5bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #535353;
	text-decoration: none;
	line-height: 160%;
	font-weight: bold;

}
.selectboxsmall {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #535353;
	background-color: #FCFDFD;
	border: 1px solid #879FC6;
	width: 100px;
	padding: 1px;
	height: 16px;



}
.selectbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #535353;
	background-color: #FCFDFD;
	border: 1px solid #879FC6;
	width: 125px;
	padding: 1px;
	height: 16px;
}

.selectbox1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #535353;
	background-color: #FCFDFD;
	border: 1px solid #879FC6;
	width: 225px;
	padding: 1px;
	height: 16px;



}
.selectbox1a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #535353;
	background-color: #FCFDFD;
	border: 1px solid #879FC6;
	width: 150px;
	padding: 1px;
	height: 16px;



}
.text3abold {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #535353;
	text-decoration: none;
	font-weight: bold;
}

a.linktxtsite {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #d5d5d5;
	text-decoration: none;
	font-weight: bold;
	line-height: normal;
	padding-left: 2px;
	width: 100%;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 1px;




}
a.linktxtsite:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #ffffff;
	text-decoration: underline;
	font-weight: bold;
	padding-left: 2px;
	width: 100%;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 1px;



}
.textgray {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	text-decoration: none;
}

.textblue {
	font-family: Tahoma, Arial;
	font-size: 13px;
	color: #0e3b82;
	text-decoration: none;
}
.textgreen {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: 7BC05A;
	text-decoration: none;
}
.textorange {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: F5A94B;
	text-decoration: none;
}
.textred {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: EF7445;
	text-decoration: none;
}
.textlightblue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: 41BDE7;
	text-decoration: none;
}
.pscroller1{
width: 150px;
height: 100px;
border: 1px solid black;
padding: 5px;
background-color: #ffffff;
}
.someclass{ 
}
.textblack {

	font-family: Tahoma, sans-serif, Verdana;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.pageheader2 {

	font-family: Tahoma;
	font-size: 16px;
	color: #EA8C00;
	text-decoration: none;
	font-weight: bold;
}
.subheader3 {



	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.textbox1 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	background-color: #FCFDFD;
	height: 18px;
	border: 1px solid #999999;
	padding-left: 5px;
	padding-top: 1px;
}

body
{
scrollbar-face-color: #4c93cb;
scrollbar-shadow-color: #4b92ae;
scrollbar-highlight-color: #4b92ae;
scrollbar-3dlight-color: #4b92ae;
scrollbar-darkshadow-color: #4c93cb;
scrollbar-track-color: #184250;
scrollbar-arrow-color: #ffffff;
}
a.linktxt5a {
	font-family: Tahoma, Arial;
	font-size: 12px;
	color: #b9e3f0;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 0.20em;
	background-color: 1b5c71;
	height: 20px;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 1px;
	padding-left: 10px;
}
a.linktxt5a:hover {
	font-family: Tahoma, Arial;
	font-size: 12px;
	color: #F4F4F4;
	font-weight: bold;
	letter-spacing: 0.20em;
	background-color: 267b97;
	height: 20px;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 1px;
	padding-left: 10px;
}
